.Container {
  position: relative;
  display: flex;
  gap: 8px;

  & + & {
    margin-top: 12px;
  }

  &:hover, &:focus {
    .Container__actions {
      left: -40px;
      opacity: 1;
    }
  }

  &:before {
    position: absolute;
    content: '';
    z-index: 0;
    width: 50px;
    height: 100%;
    background-color: transparent;
    left: -50px;
  }
}

.Container__actions {
  position: absolute;
  left: -20px;
  opacity: 0;
  transition: opacity 0.15s ease, left 0.25s ease;
  z-index: 1;
}

.Container__actions_selected {
  left: -40px !important;
  opacity: 1 !important;
}

.Container__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Container__name {
  position: absolute;
  background-color: var(--secondaryTextColor);
  color: var(--textColorOnAccent);
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  top: -18px;
  left: 0;
  padding: 2px 4px;
  opacity: 0.5;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.Container__menu {
  :global(hr) {
    border: 0.5px solid var(--borderColor);
    margin: 12px 8px;
  }
}

.Container__menuParams {
  padding: 0 4px;
}

.Container__quickActions {
  display: grid;
  grid-template-columns: repeat(4, 45px);
  grid-column-gap: 4px;
  margin: 0 4px;
}

.ContainerQuickAction {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: transparent;
  color: var(--textColor);
  font-size: 22px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.4s ease;

  &:hover {
    background-color: var(--surface);
    box-shadow: 0 1px 5px 0 var(--shadow);

  }
}

.ContainerQuickAction_danger {
  color: var(--danger);
}