.FluentText {
  display: block;
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--borderColor);
  border-radius: 2px;
  padding: 4px 8px;
  min-height: 24px;
  margin-bottom: 8px;
  font-weight: 500;

  a {
    color: var(--accentText);
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  code {
    background-color: var(--surface);
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid var(--borderColor);
    line-height: 16px;
    font-size: 13px;
  }
}