.FluentText {
  display: block;
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--borderColor);
  border-radius: 2px;
  padding: 4px 8px;
  min-height: 24px;
  margin-bottom: 8px;
  font-weight: 500;

  a {
    display: inline-flex;
    align-items: center;
    color: var(--accentText);
    text-decoration: none;
    cursor: default;
    font-weight: 500;
    background-color: #E3F2FD;
    padding: 0 6px;
    border-radius: 4px;

    &:after {
      content: '↗';
      font-size: 12px;
      margin-left: 4px;
      font-weight: 700;
      text-decoration: none !important;
    }

    &:hover, &:focus {
      cursor: text;
    }

    &:hover:after {
      text-decoration: none;
    }
  }

  code {
    background-color: var(--surface);
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid var(--borderColor);
    line-height: 16px;
    font-size: 13px;
  }
}