body {
  background: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: 25%;
  padding: 40px 80px;
}

main {
  background-color: white;
  border-radius: 16px;
  padding: 20px 30px;
}